/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #b22222;
}
.bg-color--subcolor {
  background-color: #cd5c5c;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
